.header {

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 116px;
    .logo {
        margin-right: 109px;
        transform: translateY(4px);
    }

    &__container {
       display: flex;
       align-items: center;
       height: 100%;
       
    } 
    
    .nav {
       margin-right: auto;
       height: 100%;

        &__list {
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        &__item {
            padding: 68px 14px 7px;
            height: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: transparent;
            
            &:not(:last-child) {
                margin-right: 21px;
            }
        }

        &__item--active {
            background-color: #A3C1EF;
        }
    
        &__link {
            font-family: 'Catamaran';
            font-size: 25px;
            font-weight: 500;
            color: #163561;
            line-height: 133.6%;
        }
        
        
    }
    
    &__right {
        display: flex;
        align-items: center;
        padding-top: 49px;
        

        .profile-link{
            
            &:not(:last-child) {
                margin-right: 71px;
            }
        }
        
    }

    &__btn {
        font-size: 20px;
        font-weight: 700;
        padding: 23px 32px;
        line-height: 150.6%;
        border-radius: 20px;
        min-width: 188px;
        background: #99BAED;
        color: var(--light-color);
        box-shadow: 0 15px 50px -20px #3c93d5;
    }
}
