.hero {
    padding-top: 163px;

    &__container {
        display: flex;
    }

    &__content {
        margin: 103px 0px 0px 17px;
        max-width: 576px;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-family: 'Catamaran';
        font-weight: 700;
        font-size: 75px;
        line-height: 133.6%;
        color: var(--title-color);
        & span {
            color: #FBB400;
        }
    }

    &__description {
        margin: 0;
        margin-bottom: 97px;
        font-family: 'Catamaran';
        font-weight: 400;
        font-size: 25px;
        line-height: 150.6%;
        color: var(--descr-color);
        letter-spacing: 0.03em;
        opacity: 0.65;
    }

    &__btn {
        padding: 23px 41px;
    }

    &__image {
        transform: translateX(23px);
    }

    &__img {

    }
}

